@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #ffc700;
  --secondary: #2c1b47;
  --accent: #a5e22a;

  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #fffffe;
  --bw: #f7f3ff;
  --blank: #000000;
  --border: #11001c;
  --text: #11001c;
  --mtext: #11001c;
  --muted: #6b7280;
  --ring: #ffc700;
  --ring-offset: #ffffff;

  --border-radius: 8px;
  --box-shadow-x: 4px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -6px;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

h1 {
  @apply scroll-m-20 text-4xl lg:text-5xl font-extrabold tracking-tight;
  font-family: var(--font-public-sans);
  line-height: 1.2;
}

h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  font-family: var(--font-lexend);
  line-height: 1.3;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  font-family: var(--font-lexend);
  line-height: 1.4;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
  font-family: var(--font-lexend);
  line-height: 1.5;
}

p {
  @apply text-base md:text-lg leading-7;
  font-family: var(--font-poppins);
  line-height: 1.6;
}

small {
  @apply text-xs font-medium leading-none;
  font-family: var(--font-poppins);
}

@layer base {
  .navbar a {
    text-decoration: none;
    color: inherit;
    position: relative;
  }

  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  .navbar a:hover::after,
  .navbar a:focus::after {
    width: 100%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--muted);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
