@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #2c1b47;
  --secondary: #ffc700;
  --accent: #a5e22a;

  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #fffffe;
  --bw: #f7f3ff;
  --blank: #000000;
  --border: #11001c;
  --text: #11001c;
  --mtext: #11001c;
  --ring: #ffc700;
  --ring-offset: #ffffff;

  --border-radius: 8px;
  --box-shadow-x: 4px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -6px;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

h1 {
  @apply scroll-m-20 text-5xl font-extrabold tracking-tight lg:text-6xl;
}

h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply leading-7;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

a:hover::after,
a:focus::after {
  width: 100%;
}
